<h2 class="text-center">Angular Form works!</h2>
<form novalidate (submit)="onSubmit(rfContact.value)"  [formGroup]="rfContact" class="row justify-content-md-center">
  <div class="col-md-8">
    <div class="form-group row">
      <label for="example-text-input" class="col-md-2 col-form-label">Name:</label>
      <div class="col-md-10">
        <input class="form-control" type="text" id="example-text-input"
               formControlName="contactName">
        <div class="col alert alert-danger" role="alert"
             *ngIf="rfContact.controls.contactName?.errors?.required && rfContact.controls.contactName?.touched">
          Name is required!
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-email-input" class="col-md-2 col-form-label">Email:</label>
      <div class="col-md-10">
        <input class="form-control" type="text" id="example-email-input"
               formControlName="email">
        <div class="col alert alert-danger" role="alert"
             *ngIf="rfContact.get('email').invalid && rfContact.get('email').touched">
          Email is wrong format!
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="example-age-input" class="col-md-2 col-form-label">Age:</label>
      <div class="col-md-10">
        <input  class="form-control" type="number" id="example-age-input"
               formControlName="age">
        <div class="alert alert-danger" role="alert" *ngIf="rfContact.get('age').invalid && rfContact.get('age').touched">
          You have to be over 18 to register an account
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-tel-input" class="col-md-2 col-form-label">Tel:</label>
      <div class="col-md-10">
        <input class="form-control" type="text" id="example-tel-input"
               formControlName="tel">
        <div class="alert alert-danger" role="alert" *ngIf="rfContact.get('tel').invalid && rfContact.get('tel').touched">
          <span  *ngIf="rfContact.get('tel').hasError('required')">Phone is required</span>
          <span *ngIf="rfContact.get('tel').hasError('pattern')">Phone must start with 09 followed by 9 or 10 digits.</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-url-fb" class="col-md-2 col-form-label">Facebook:</label>
      <div class="col-md-10">
        <input class="form-control" formControlName="facebook" type="url" id="example-url-fb">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-url-twt" class="col-md-2 col-form-label">Twitter:</label>
      <div class="col-md-10">
        <input class="form-control" formControlName="twitter" type="url" id="example-url-twt">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-url-web" class="col-md-2 col-form-label">Website:</label>
      <div class="col-md-10">
        <input class="form-control"  formControlName="website" type="url" id="example-url-web">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-10 offset-md-2">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>
  </div>
</form>

<p>Form Value Test</p>
<pre>
  {{ rfContact.value | json }}
</pre>





















































